<script defer src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.js"></script>
<link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
<style>
* {
    font-family: Montserrat;
}
</style>

<header class="bg-blue-700  p-4 text-white relative z-20 font-serif">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <iconify-icon class="w-8 h-8 mr-5" icon="emojione-monotone:paw-prints" style="color: #d9d9d9; font-size:40px;"></iconify-icon>
            <h1 class="text-2xl font-extrabold tracking-tight">Animaps</h1>
        </div>
        <div x-data="{ isOpen: false }" class="md:hidden flex items-center"> 
            <button @click="isOpen = !isOpen" class="text-white focus:outline-none">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1 1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"></path>
                </svg>
            </button>
            <ul x-show="isOpen" @click.away="isOpen = false" class="absolute top-12 right-0 mt-2  bg-gradient-to-r from-blue-700 via-blue-600 to-blue-700 list-none rounded shadow-lg shadow-inner">
                <li class="py-2 px-4">
                    <a href="{% url 'registrar' %}" class="text-white ">Adicionar nova denúncia</a>
                </li>
                {% if 'animais.can_delete_animal_entry' in perms %} 
                <li class="py-2 px-4">
                    <a href="{% url 'painel-relatorios' %}" class="text-white ">Painel de denúncias</a>
                </li>
                {% endif %} 
                <li class="py-2 px-4">
                    <a href="{% url 'painel-usuario' %}" class="text-white ">Painel do usuário</a>
                </li>
                <li class="py-2 px-4">
                    <a href="{% url 'logout' %}?next={{ request.path }}" class="text-white">Logout</a>
                </li>
            </ul>
        </div>

        <ul class="hidden md:flex items-center space-x-4"> 
            <li class="text-white">User: <span class="font-bold"> {{ user.get_username }} </span></li>
            <li class="py-2 px-2 hover:bg-blue-800 hover:underline hover:text-white transition duration-300 ease-in-out"><a href="{% url 'registrar' %}">Adicionar nova denúncia</a></li>
            {% if 'animais.can_delete_animal_entry' in perms %} 
            <li class="py-2 px-2 hover:bg-blue-800 hover:underline hover:text-white transition duration-300 ease-in-out"><a href="{% url 'painel-relatorios' %}">Painel de denúncias</a></li>
            {% endif %} 
            <li class="py-2 px-2 hover:bg-blue-800 hover:underline hover:text-white transition duration-300 ease-in-out"><a href="{% url 'painel-usuario' %}">Painel do usuário</a></li>
            <li class="py-2 px-2 font-bold hover:underline  hover:bg-blue-800 hover:text-white transition duration-300 ease-in-out"><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a></li>
        </ul>
    </div>
</header>

