<script src="https://unpkg.com/alpinejs@3.x.x/dist/cdn.js"></script>


<header class="bg-blue-600 p-4 text-white relative z-20">
    <div class="container mx-auto flex justify-between items-center">
        <div class="flex items-center">
            <iconify-icon class="w-8 h-8 mr-5" icon="emojione-monotone:paw-prints" style="color: #d9d9d9; font-size:40px;"></iconify-icon>
            <h1 class="text-2xl font-bold">Animaps</h1>
        </div>
        <div x-data="{ isOpen: false }" class="md:hidden flex items-center"> 
            <button @click="isOpen = !isOpen" class="text-white">
                <svg fill="currentColor" viewBox="0 0 20 20" class="w-6 h-6">
                    <path fill-rule="evenodd" d="M3 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 1 1 0 2H4a1 1 0 0 1-1-1zm0 5a1 1 0 0 1 1-1h12a1 1 0 0 1 1 1 1 1 0 0 1-1 1H4a1 1 0 0 1-1-1z"></path>
                </svg>
            </button>
            <ul x-show="isOpen" @click.away="isOpen = false" class="absolute top-12 right-0 mt-2 bg-white border border-gray-300 rounded shadow-lg">
                <li><a href="{% url 'add_animal' %}" class="block px-4 py-2 text-black">Adicionar nova denúncia</a></li>
                {% if 'animais.can_delete_animal_entry' in perms %} 
                <li><a href="{% url 'animais' %}" class="block px-4 py-2 text-black">Painel de denúncias</a></li>
                {% endif %} 
                <li><a href="{% url 'dashboardUser' %}" class="block px-4 py-2 text-black">Painel do usuário</a></li>
                <li><a href="{% url 'deslogarUsuario' %}?next={{ request.path }}" class="block px-4 py-2 text-black">Logout</a></li>
            </ul>
        </div>
        <ul class="hidden md:flex items-center space-x-4"> 
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'add_animal' %}" class="text-white">Adicionar nova denúncia</a></li>
            {% if 'animais.can_delete_animal_entry' in perms %} 
            <li><a href="{% url 'animais' %}" class="text-white">Painel de denúncias</a></li>
            {% endif %} 
            <li><a href="{% url 'dashboardUser' %}" class="text-white">Painel do usuário</a></li>
            <li><a href="{% url 'deslogarUsuario' %}?next={{ request.path }}" class="text-white">Logout</a></li>
        </ul>
    </div>
</header>


