.root{
    --bgcolor: #101010; 
    --white1: #d9d9d9;
}
* {
    font-family: 'Montserrat', sans-serif;
    background-color: #101010;
    color: #d9d9d9;
}

/* ----- Header -----  */

.container{
    margin: auto;
    width: 100%;
}


header {
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100%;
}

.nav{
    display: flex;
    align-items:center;
    justify-content: space-between;
    padding: 20px 0;
}

.logo{
    font-size: 50px;
}

.navbar{
    margin-right: 70px;
    display:flex;
    align-items: center;
    column-gap: 1.5rem;
}

/* ----- Content ------ */

.content-container {
    display: flex;
    margin-top: 15px;
}
.formulario{
    width: 60%;
    text-align: center;  
}
.formulario p {
    font-size: 20px;
}

.localizaçãoAnimal {
    text-align: center;
    justify-content: flex-start;
}
input {
    width: 70%;
    font-size: 22px;
}

button {
    background-color: #d9d9d9;
    width: 200px;
    color: black;
    font-size: 25px;
    transition: all linear 0.5;
    border-radius: 50px;
    margin-bottom: 10px;
}

button:hover {
    background-color: #4b4b4b;
    color: #d9d9d9;
}
.map-container {
    position: relative;
    width: 100%;
}
.results {
    font-size: 20px;
    color: #101010;
    background-color: #d9d9d9;
    cursor: pointer;
    margin: 5px;
}

.results:hover {
    background-color: rgb(29, 29, 29); 
    color: white; 
}

#mapid {
    width: 1000px;
    height: 500px;
}