<!DOCTYPE html>
<html lang="pt-br">

    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        {% load static %}
        <link href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
        integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14=" crossorigin="">
        <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
            integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg=" crossorigin=""></script>
        <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
        <title>Cadastro</title>
    </head>

    <body class="bg-gray-100 font-sans leading-normal tracking-normal">
        <header class="bg-blue-600 p-4 text-white">
            <div class="container mx-auto flex items-center justify-between">
                <iconify-icon class="w-8 h-8 mr-5" icon="emojione-monotone:paw-prints"
                    style="color: #d9d9d9; font-size:40px;"></iconify-icon>
                <h1 class="text-2xl font-bold">Animaps</h1>
            </div>
        </header>

        <div class="container mx-auto">
            {% csrf_token %}
            <div class="text-center">
                <h1 class="text-2xl font-bold mb-4">Você saiu!</h1>
                <a href="{% url 'login'%}" class="text-blue-500">Clique aqui para entrar de novo.</a>
            </div>
        </div>

        <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
    </body>

</html>

