<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;700;800;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'animais/css/reset.css' %}">
    <link rel="stylesheet" href="{% static 'animais/css/animais-style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>

    <title>Animais</title>
</head>
<body>
    <header>
        <div class="nav container">
            <iconify-icon class="logo" icon="emojione-monotone:paw-prints" style="color: #d9d9d9;"></iconify-icon>
            <h1> Animaps</h1>
            <ul class="navbar">
                <li><a href="#" class=nav-link> Adicionar avistamento</a></li>
                <li><a href="#" class=nav-link> Mapa de Avistamentos</a></li>
                {% if user.is_authenticated %}
                    <li>User: {{ user.get_username }}</li>
                    <li><a href="{% url 'logout' %}?next={{ request.path }}">Logout</a>
                {% else %} 
                <li><a href="{% url 'login' %}?next={{ request.path }}">Login</a></li>
                {% endif %}
            </ul>
            </div>
        </div>
        </header>
    
    <div class="content-container">
        <div class="animais">
            {% for animal in animais %}
            <div class="animalinfo">
                <div class="animal-li">
                <p class="itanimal"> {{ animal.username }}</p>
                <p class="itanimal"> {{ animal.endereço }}</p>  
                <p class="itanimal"> {{ animal.descriçao }}</p>  
                <p class="itanimal"> {{ animal.coordX }} </p> 
                <p class="itanimal"> {{ animal.coordY }} </p>    
                <img src="{{ animal.foto }}"></img> 
                </div>
                 
            </div>
            {% endfor %}
        </div>
        <div class="map-container">
            <div class="map" id="mapid">
        </div>
        </div>
        
    </div>
    <script type="text/javascript" src="{% static 'animais/js/animais.js' %}"></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>
</body>
</html>