<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Visão Detalhada</title>
</head>
<body>
    <h1>{{ animal.username }}</h1>
    <h1> {{ animal.id }} </h1>
<p>Endereço: {{ animal.endereço }}</p>
<p>Descrição: {{ animal.descriçao }}</p>
<p>Ponto de referência: {{ animal.ponto_ref }}</p>
<p>Coordenadas X: {{ animal.coordX }}</p>
<p>Coordenadas Y: {{ animal.coordY }}</p>
{% if animal.foto %}
    <img src="{{ animal.foto.url }}" alt="{{ animal.username }}">
{% endif %}
</body>
</html>