<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'animais/css/animal-dashboard_style.css' %}">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.9.2/dist/leaflet.css"
    integrity="sha256-sA+zWATbFveLLNqWO2gtiw3HL/lh1giY/Inf1BJ0z14="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.9.2/dist/leaflet.js"
    integrity="sha256-o9N1jGDZrf5tS+Ft4gbIK7mYMipq9lqpVJ91xHSyKhg="
    crossorigin=""></script>
    <script src="https://code.iconify.design/iconify-icon/1.0.1/iconify-icon.min.js"></script>

    <title>Visão Detalhada</title>
</head>
<header> 
    <div class="nav container">
        <iconify-icon class="logo" icon="emojione-monotone:paw-prints" style="color: #d9d9d9;"></iconify-icon>
        <h1> Animaps</h1>
        <ul class="navbar">
            <li>User: {{ user.get_username }}</li>
            <li><a href="{% url 'add_animal' %}" class=nav-link> Adicionar nova denúncia</a></li>
            <li><a href="{% url 'animais' %}" class=nav-link> Painel de denúncias</a></li>
            <li><a href="{% url 'deslogarUsuario' %}?next={{ request.path }}">Logout</a>
            <li><a href="{% url 'dashboardUser' %}" class=nav-link> Painel de usuário</a></li>

        </ul>
        </div>
</header>
<body>
<div class="content-container">
    <div class="animal-info"> 
    <div class="foto">
        {% if animal.foto %}
                <img src="{{ animal.foto.url }}" alt="{{ animal.username }}">
            {% endif %}
    </div>
        <h2> Username: {{ animal.user }} </h2> 
        <h2> Nome do Usuário: {{ animal.username }}</h2>
        <h2> Endereço: {{ animal.endereço }}</h2>
        <h2> Descrição: {{ animal.descriçao }}</h2>
        <h2> Ponto de referência: {{ animal.ponto_ref }}</h2>
        <h3 class="coordX"> {{ animal.coordX }}</h3>
        <h3 class="coordY"> {{ animal.coordY }}</h3> 
        <h3> Identificador: {{ animal.id }}</h3> 
    </div>

<div class="map-container">
    <div class="map" id="mapid">
</div>
<div class="gerenciamento">
    <form action="{% url 'update_estado' %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="entry_id" value="{{ animal.id }}">
        <button type="submit" name="estado" value="resgatado">Marcar como resgatado</button>
        <button type="submit" name="estado" value="naolocalizado">Marcar como não localizado</button>
        <a class="button" href="{% url 'gerarRelatorio' %}?entry_id={{ animal.id }}">Baixar relatório PDF</a>
      </form>
      <form method="post" action="{% url 'delete_view' entry.id %}">
        {% csrf_token %}
        <button type="submit" class="button">Delete</button>
      </form>
</div>    
</div>
<script type="text/javascript" src="{% static 'animais/js/dashmap.js' %}"></script>

</body>
</html>